@import "./mini_componentes/card.scss";
@import "./mini_componentes/prevNextButtons";

.search-section{
    .buscador{
        @include box-parameter($margin: 30px 0);
        @include display-flex-creator($direction: row, $justify-content: center, $align-items: start);
        margin: 80px 0 0 0;
        input{
            @include input();
        }
        button{
            @include button($back-color: $secundary-color);
            i{
                font-size: 15px;
            }
        }
        button:hover{
            background-color: $hover-color;
        }
    }
    @include display-flex-creator($direction: column, $justify-content: start, $align-items: center); 
    .container{  
        @include display-flex-creator($justify-content: space-between, $align-items: stretch);
        flex-wrap: wrap; 
    }
}