.container-home{
    @include display-flex-creator($justify-content: space-between, $align-items: center);
    margin: 90px 0 0 0;
    .container-listas{
        width: 50%;
        @include box-parameter($margin: 20px, $padding: 20px);
        ul{
            height: 60vh;
            @include card-especification();
            @include box-parameter($margin: 20px, $padding: 20px, $width: 90%);
            @include display-flex-creator($direction: column, $justify-content: start, $align-items: center);
            overflow: scroll;
            overflow-x: hidden;
            .card{
                @include display-flex-creator($justify-content: space-between, $align-items: center);
                @include box-parameter($margin: 0 0 10px 0, $padding: 5px, $width: 100%);
            }
        }
        ul::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        ul::-webkit-scrollbar:vertical {
            width:10px;
        }
        
        ul::-webkit-scrollbar-button:increment,ul::-webkit-scrollbar-button {
            display: none;
        } 
        
        ul::-webkit-scrollbar:horizontal {
            height: 10px;
        }
        
        ul::-webkit-scrollbar-thumb {
            background-color: #797979;
            border-radius: 20px;
        }
        
        ul::-webkit-scrollbar-track {
            border-radius: 10px;  
        }
    }  
}