@import "./mini_componentes/link";

.container-home{
    @include display-flex-creator($justify-content: space-between, $align-items: space-between);
    margin: 90px 0 0 0;
    .container-listas{
        width: 50%;
        height: 100%;
        @include box-parameter($margin: 20px, $padding: 20px);
        ul{
            max-height: 60vh;
            @include card-especification();
            @include box-parameter($margin: 20px, $padding: 20px, $width: 90%);
            @include display-flex-creator($direction: column, $justify-content: start, $align-items: center);
            overflow: scroll;
            overflow-x: hidden;
            h2{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .link{
                width: 100%;
               .card{
                    transform: none;
                    @include display-flex-creator($justify-content: space-between, $align-items: center);
                    @include box-parameter($margin: 10px 0, $padding: 5px, $width: 100%);
                }
                .card:hover{
                    background-color: $hover-color;
                    transform: none;
                } 
            }            
        }
        ul::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        ul::-webkit-scrollbar:vertical {
            width:10px;
        }
        
        ul::-webkit-scrollbar-button:increment,ul::-webkit-scrollbar-button {
            display: none;
        } 
        
        ul::-webkit-scrollbar:horizontal {
            height: 10px;
        }
        
        ul::-webkit-scrollbar-thumb {
            background-color: $secundary-color;
            border-radius: 20px;
        }
        
        ul::-webkit-scrollbar-track {
            border-radius: 10px;  
        }
    }  
}
@media (max-width: 600px){
    
}