.card{
    @include card-especification($back-color: $primary-color, $color:$typography-light-color, $border-radius:$border-radius, $padding: 10px, $width:15%);
    margin: 10px;
    display: flex;
    flex-direction: column;
    div{
        @include display-flex-creator($justify-content: center, $align-items: center); 
        h2{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.card:hover{
    box-shadow: $box-shadow;
}