//variables
$backgorund-color: #BCCBD8;
$hover-color: #8c9caf;
$secundary-color: #8594A6;
$primary-color: #3E4658;
$light-background-color: #bccbd8c4;
$typography-dark-color: #000000;
$typography-light-color: #FFFFFF;

$typography-english-text: 'Roboto', sans-serif;

$typography-english-thin: 100;
$typography-english-normal: "300";
$typography-english-bold: 700;

$border-radius: 10px;
$box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;