//variables
$backgorund-color: #D9ECF2;
$hover-color: #F56A79;
$secundary-color: #1AA6B7;
$primary-color: #002D40;
$light-background-color: #FF414D;
$typography-dark-color: #000000;
$typography-light-color: #FFFFFF;

$typography-english-text: 'Roboto', sans-serif;

$typography-english-thin: 100;
$typography-english-normal: "300";
$typography-english-bold: 700;

$border-radius: 10px;
$box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;