footer{
    height: 60px;
    background-color: $secundary-color;
    color: $typography-light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    footer-abajo{
        width: 60%;
        display: flex;
        justify-content: space-around;
        padding: 5px;
    }
}