@import "./main_style_componentes/mini_componentes/link";

.nav-bar{
    top: 0;
    width: 100vw;
    background-color: $secundary-color;
    color: $typography-light-color;
    position: fixed;
    z-index: 1;
    ul{
      margin: 0;
      padding: 10px;
      display: flex;
      justify-content: start;
      li{
        border-radius: $border-radius;
        padding: 10px 5px 10px 5px;
        margin-left: 5px;
        list-style: none;
      } 
      li:hover{
        background-color: $hover-color;
      }
    }
  }