.nav-bar{
    width: 100vw;
    background-color: #00000042;
    color: #FFFFFF;
    position: fixed;
    z-index: 1;
    ul{
      margin: 0;
      padding: 10px;
      display: flex;
      justify-content: start;
      li{
        border-radius: $border-radius;
        padding: 10px 5px 10px 5px;
        margin-left: 5px;
        list-style: none;
        Link{
          text-decoration: none;
        }
      } 
      li:hover{
        background-color: #000000;
      }
    }
  }