@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: "300";
  background-color: #D9ECF2;
  margin: 0;
  height: 100vh;
}
body .app {
  height: 100vh;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: "300";
}

.nav-bar {
  top: 0;
  width: 100vw;
  background-color: #1AA6B7;
  color: #FFFFFF;
  position: fixed;
  z-index: 1;
}
.nav-bar ul {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: start;
}
.nav-bar ul li {
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  margin-left: 5px;
  list-style: none;
}
.nav-bar ul li:hover {
  background-color: #F56A79;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: "300";
}

.container-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin: 90px 0 0 0;
}
.container-home .container-listas {
  width: 50%;
  height: 100%;
  margin: 20px;
  padding: 20px;
  width: 100%;
}
.container-home .container-listas ul {
  max-height: 60vh;
  background-color: #002D40;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: 20px;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}
.container-home .container-listas ul h2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-home .container-listas ul .link {
  width: 100%;
}
.container-home .container-listas ul .link .card {
  transform: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
}
.container-home .container-listas ul .link .card:hover {
  background-color: #F56A79;
  transform: none;
}
.container-home .container-listas ul::-webkit-scrollbar {
  -webkit-appearance: none;
}
.container-home .container-listas ul::-webkit-scrollbar:vertical {
  width: 10px;
}
.container-home .container-listas ul::-webkit-scrollbar-button:increment, .container-home .container-listas ul::-webkit-scrollbar-button {
  display: none;
}
.container-home .container-listas ul::-webkit-scrollbar:horizontal {
  height: 10px;
}
.container-home .container-listas ul::-webkit-scrollbar-thumb {
  background-color: #1AA6B7;
  border-radius: 20px;
}
.container-home .container-listas ul::-webkit-scrollbar-track {
  border-radius: 10px;
}

.card {
  background-color: #002D40;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  width: 15%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transform: translate(1s);
}
.card div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card div h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  transform: scale(1.1);
  background-color: #F56A79;
  color: #FFFFFF;
}

.prev-next-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
  padding: 0;
  width: 100%;
}
.prev-next-buttons button {
  margin: 5px;
  padding: 0;
  width: 100%;
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #1AA6B7;
  color: #FFFFFF;
  border: none;
  transition: 2ms;
}
.prev-next-buttons button:hover {
  background-color: #F56A79;
}
.prev-next-buttons select {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #002D40;
  border: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page h1 {
  margin: 80px 0 30px 0;
}
.page .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  background-color: #002D40;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  width: 15%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transform: translate(1s);
}
.card div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card div h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  transform: scale(1.1);
  background-color: #F56A79;
  color: #FFFFFF;
}

.prev-next-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
  padding: 0;
  width: 100%;
}
.prev-next-buttons button {
  margin: 5px;
  padding: 0;
  width: 100%;
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #1AA6B7;
  color: #FFFFFF;
  border: none;
  transition: 2ms;
}
.prev-next-buttons button:hover {
  background-color: #F56A79;
}
.prev-next-buttons select {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #002D40;
  border: none;
}

.search-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.search-section .buscador {
  margin: 30px 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 80px 0 0 0;
}
.search-section .buscador input {
  margin-right: 10px;
  padding: 0 10px;
  height: 40px;
  width: 60%;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
}
.search-section .buscador button {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #1AA6B7;
  color: #FFFFFF;
  border: none;
}
.search-section .buscador button i {
  font-size: 15px;
}
.search-section .buscador button:hover {
  background-color: #F56A79;
}
.search-section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.main-pelicula {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-pelicula .container-peli {
  border-radius: 10px;
  width: 70%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #1AA6B7;
}
.main-pelicula .container-peli .foto {
  width: 35%;
  margin-right: 30px;
}
.main-pelicula .container-peli .foto img {
  width: 100%;
}
.main-pelicula .container-peli .info-general {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
.main-pelicula .container-peli .info-general .titulo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-pelicula .container-peli .info-general .titulo button {
  height: 40px;
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #FF414D;
  color: #FFFFFF;
  border: none;
}
.main-pelicula .container-peli .info-general .titulo button:hover {
  background-color: #F56A79;
}

footer {
  height: 60px;
  background-color: #1AA6B7;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer footer-abajo {
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

/*# sourceMappingURL=App.css.map */
