@import "./styles/variables";
@import "./styles/resets";
@import "./styles/mixins";
@import "./styles/style_componentes/nav_bar";
@import "./styles/style_componentes/main_style_componentes/home";
@import "./styles/style_componentes/main_style_componentes/populares_y_ultimos_lanzamientos";
@import "./styles/style_componentes/main_style_componentes/buscar";
@import "./styles/style_componentes/footer";